{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{new.title}}{% endblock %}

{% block content %}

    <div class="panel panel-primary justfiy" style="margin-top:20px">
            <div class="panel-heading">
              <h1 class="panel-title">{{new.title}}</h1>
            </div>
            <div class="panel-body">
              {{new.content|safe}} 
              <div class="btn btn-group pull-right">
              <a class="btn btn-info margin-up:100px" href="/page/{{cur_page}}" role="button">返回新闻列表</a>       
              <a class="btn btn-info margin-up:100px" href="/news/{{id}}" role="button">再来一条</a>
             </div>
            </div> 
    </div>
    
{% endblock %}
